@import "tailwindcss";

@font-face {
  font-family: "Goudy Old Style Regular";
  src: url("/fonts/Goudy Old Style Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LTC Goudy Oldstyle Pro";
  src: url("/fonts/fonnts.com-LTC-Goudy-Oldstyle-Pro-.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Global font assignments */
@layer base {
  html,
  body {
    font-family: "LTC Goudy Oldstyle Pro", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Goudy Old Style Regular", serif;
  }
}
